body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#e66465, #9198e5);
    width: 100vw;
    height: 100vh;
}

#snow-flake-app {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#nav {
    width: 100vw;
    height: 75px;
    background: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile {
    display: flex;
    /* border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 3px; */
}

#title {
    margin-left: 30px;
    font-size: 18px;
    font-weight: 600;
    font-family: '楷体', 'Times New Roman', Times, serif;
}